:root {
    --light-highlight: #ffffff;
    --focus-color: #367cffbd;
    --danger-color: #e81616d4;
    --emphasis-color: #298b18e3;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 4px;
    margin-bottom: calc(100vh - 96px);
    background-color: #fff;
}

h1,
h2,
h3 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    padding: 6px 12px;
    color: inherit;
    border: none;
    cursor: pointer;
}

textarea {
    display: block;
    width: 360px;
    box-sizing: border-box;
    height: 260px;
    background-color: transparent;
    color: inherit;
    border: none;
    resize: none;
    outline: none;
}

.hidden {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lookupContainer,
.lookupHistory,
.actionsBar {
    width: 100%;
    max-width: 480px;
    padding: 8px;
    text-align: left;
}

.actionsBar {
    display: flex;
    flex-direction: row;
}

.actionsBar button {
    margin-right: 16px;
}

.actionsBar > .left {
    text-align: left;
    flex-grow: 0;
}

.actionsBar > .right {
    text-align: right;
    flex-grow: 1;
}

.actionsBar button:last-child {
    margin-right: 0;
}

.actionsBar button:active,
.actionsBar button:focus {
    border-color: var(--focus-color);
}

.actionsBar .clearAllButton {
    background-color: var(--danger-color);
    color: #ffffff;
}

.lookup.loading::after {
    content: " ";
    display: block;
    background-color: #88888846;
    width: 16px;
    height: 16px;
    margin: auto;

    animation: cubic-bezier(0.14, 0.3, 0.63, 0.89) loadingRotate 1.5s 0s
        infinite;
    opacity: 1;
}

@keyframes loadingRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lookup .input {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    margin-bottom: 24px;
    outline: none;
}

.proxyWarning {
    position: relative;
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 16px;
}

.proxyWarning .badge {
    display: inline-block;

    border: 1px solid var(--danger-color);
    color: var(--danger-color);

    padding: 2px 4px;
    margin-top: -12px;
    border-radius: 4px;

    outline: none;

    cursor: default;
}

.proxyWarning .badge:focus {
    border-color: var(--focus-color);
}

.proxyWarning .badge .triangle {
    font-size: 0.5em;
    vertical-align: middle;
    line-height: 0.8rem;
    margin-right: 2px;
}

.proxyWarning .tooltip {
    top: 1em;
    right: 0;
}

.proxyWarning .tooltip div {
    margin-bottom: 0.5em;
}

.proxyWarning .tooltip div:last-child {
    margin-bottom: 0;
}

.lookupResults:empty::after {
    content: "No results found";
    font-style: italic;
}

.lookupResult {
    position: relative;
    text-align: left;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    margin-bottom: 24px;
    outline: none;
    min-width: 300px;
}

.lookupResult.clickable {
    cursor: pointer;
    background-color: var(--light-highlight);
}

.lookupResult.clickable.common {
    background: #4cff2e1c;
    border-color: #26ff0036;
}

.lookup .input:focus,
.lookupResult:focus,
.lookupResult.lookupResult:focus {
    border-color: var(--focus-color);
}

.lookupResult > .top {
    display: block;
    width: 100%;
}

.lookupResult > .top > .word {
    display: inline-block;
    margin-top: 8px;
    width: auto;
}

.lookupResult > .top > .word > .furigana .reading {
    transform: translateY(-2px);
    font-size: 1rem;
}

.lookupResult > .top > .tags {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    gap: 0px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: top;
    padding: 8px;
    width: auto;
    height: 64px;
}

.lookupResult > .top > .tags > .tag {
    display: inline-block;
    text-align: center;
    padding: 6px 8px;
    font-size: 0.8em;
}

.lookupResult .group > .groupHeading {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -1.5em;
    margin-bottom: 8px;
    font-size: 1.1em;
    flex-direction: row;
}

.lookupResult .group > .groupHeading > .text {
    flex-grow: 0;
}

.lookupResult .group > .groupHeading > .text > .separator:last-child {
    display: none;
}

.lookupResult .group > .groupHeading::after {
    content: " ";
    display: block;
    background-color: #88888859;
    width: auto;
    height: 1px;
    flex-grow: 1;
    margin-left: 0.5em;
}

.lookupResult .senses {
    padding-left: 1.5em;
}

.lookupResult .sense {
    position: relative;
    margin-bottom: 8px;
}

.lookupResult .sense > .senseContent {
    display: flex;
}

.lookupResult .sense > .senseContent > .left {
    flex-grow: 1;
}

.lookupResult .sense > .senseContent .seeAlsos {
    text-align: right;
    font-size: 0.8em;
}

.lookupResult .sense > .senseContent .seeAlsos > .seeAlso {
    cursor: pointer;
}

.lookupResult .sense > .senseContent .seeAlsos > .seeAlso::before {
    content: "➡ ";
    opacity: 0.8;
}

.lookupResult .sense > .senseContent .tags {
    opacity: 0.8;
    font-size: 0.75em;
}

.lookupResult .sense > .senseContent .tags > .tag {
    display: inline-block;
    margin-right: 8px;
}

.lookupResult .sense > .senseContent .tags > .tag.ukana {
    color: var(--emphasis-color);
}

.lookupResult .sense > .senseContent .infoElmContainer {
    display: inline-block;
}

.lookupResult .sense > .senseContent .infoElmContainer .infoIndicator {
    display: inline-block;
    background-color: rgba(0, 47, 255, 0.61);
    color: #fff;
    font-style: italic;
    text-align: center;
    font-family: serif;
    font-size: 8px;
    line-height: 2px;
    width: 2px;
    height: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3.5px;
    padding-right: 4.5px;
    border-radius: 50%;
    margin-left: 4px;
}

.lookupResult .sense > .senseContent .infoElmContainer > .infoElm {
    font-size: 0.8em;

    top: 100%;
    left: 0;
}

.lookupResult .sense > .senseContent .left:hover .infoElmContainer > .infoElm {
    opacity: 1;
    transform: translateY(0);
}

.lookupResultRemoveButton {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 8px;
}

.lookupResultRemoveButton .hitbox {
    outline: none;
}

.lookupResultRemoveButton .imgContainer {
    background-color: var(--light-highlight);
    padding: 4px;

    transition: 0.25s ease;
    opacity: 0;
    transform: translateX(8px);
}

.lookupResultRemoveButton .hitbox:focus .imgContainer {
    border-color: var(--focus-color);
}

.lookupResult:focus .lookupResultRemoveButton .imgContainer,
.lookupResult:hover .lookupResultRemoveButton .imgContainer,
.lookupResultRemoveButton .hitbox:focus .imgContainer {
    opacity: 1;
    transform: translateX(0px);
}

.deleteButtonImg {
    background-color: var(--danger-color);
    -webkit-mask: url(delete_outline-24px.svg) no-repeat center;
    mask: url(delete_outline-24px.svg) no-repeat center;
    width: 24px;
    height: 24px;
}

/* --- Util --- */

.shadow {
    border: 1px solid #0000000d;
    box-shadow: 0px 2px 4px #0000002e, 0px 0px 8px #00000005;
}

.tooltip {
    position: absolute;
    z-index: 1;

    background: var(--light-highlight);
    width: 316px;
    padding: 8px;

    pointer-events: none;

    transition: 0.25s ease;
    opacity: 0;
    transform: translateY(-8px);
}

.tooltip.show {
    opacity: 1;
    transform: translateY(0);
}

.furigana {
    display: inline;
}

.furigana .reading {
    opacity: 0.4;
    font-size: 0.6em;
    user-select: none;
    -webkit-user-select: none;
}

.furigana.hideReading .reading {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007c;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.modal .dialogue {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: auto;
    height: auto;
    max-width: 380px;
    max-height: 80vh;
    background-color: var(--light-highlight);
    box-shadow: 0px 4px 16px #00000040, 0px 2px 32px #0000001f;
}

.modal .dialogue .content {
    padding: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal .dialogue .content.scrollBar {
    overflow-y: scroll;
}

.modal .dialogue .content > div {
    padding: 8px;
}

.modal .dialogue .buttons {
    padding: 8px;
    bottom: 0;
    right: 0;
    text-align: right;
}

.modal .dialogue .buttons .close {
    opacity: 0.7;
}

.modal .dialogue .buttons button {
    margin-left: 16px;
    font-weight: 600;
}

.modal .dialogue .buttons button:hover {
    background-color: #8888881e;
}

/* --- Dark --- */

@media (prefers-color-scheme: dark) {
    :root {
        --light-highlight: #171717;
    }

    body {
        background-color: #000;
        color: #bbbbbb;
    }

    input {
        background-color: transparent;
        color: inherit;
    }

    .shadow {
        border: 1px solid #ffffff2e;
        box-shadow: none;
    }

    .furigana .reading {
        opacity: 0.6;
    }

    .modal .dialogue {
        box-shadow: none;
        border: 2px solid #ffffff2e;
    }

    ::-webkit-scrollbar {
        background-color: #000;
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ffffff30;
        border: 1px solid black;
        border-radius: 4px;
    }
}
