:root {
    --card-new-color: #143be7;
    --card-due-color: #441eec;
    --card-graduated-color: #a11cee;
}

body {
    margin: 0;
}

.tankiInterface {
    width: 100%;
    overflow-x: hidden;
}

.snackbar {
    position: fixed;
    background-color: #212121;
    color: #dadada;
    bottom: 8px;
    left: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px #00000042;
    transform: translateX(-8px);
    opacity: 0;
    transition: 0.15s ease opacity, 0.15s ease transform;
}

.snackbar.showing {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

.cardPresenter {
    display: grid;
    grid-template-areas: "card" "inputs";
    grid-template-rows: auto 32px;
    height: 100vh;
}

.cardPresenter iframe.card {
    grid-area: card;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.cardPresenter .quickUserInputGetter {
    grid-area: inputs;
    text-align: center;
    background-color: #e4e4e4;
    padding-top: 1px;
}

.cardCounts > div {
    display: inline-block;
    margin-right: 16px;
}

.cardCounts .number {
    display: inline;
}

.cardCounts .new {
    color: var(--card-new-color);
}

.cardCounts .due {
    color: var(--card-due-color);
}

.cardCounts .graduated {
    color: var(--card-graduated-color);
}

.quickUserInputGetter button {
    margin-left: 4px;
    margin-right: 4px;
    width: auto;
    height: 24px;
}

.modalDialog,
.modalDialog .modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modalDialog {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease;
}

.modalDialog.showing {
    opacity: 1;
}

.modalDialog.positionFixed {
    position: fixed;
}

.modalDialog .modalBackground {
    z-index: 0;
    background-color: transparent;
}

.modalDialog.showing .modalBackground {
    backdrop-filter: blur(1.1px);
    background-color: #0000007c;
    transition: background-color 0.15s ease;
}

.modalDialog .modalForeground {
    position: relative;
    z-index: 1;

    background-color: #ffffff;

    display: block;
    width: auto;
    height: auto;
    max-width: 380px;
    max-height: 80vh;
    padding: 8px;
    margin: 32px;

    overflow-x: hidden;
    overflow-y: auto;
}

.editNoteDialog .modalForeground {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 720px;
}

.editNoteDialog .cardPreview .cardRenderer {
    border: 1px solid black;
    margin-bottom: 8px;
}

.editNoteDialog .cardFieldLabel {
    display: block;
    font-size: 0.8em;
    margin-bottom: 8px;
}

.editNoteDialog .cardFieldInput {
    display: block;
}

.manageNotesDialog .recyclingList {
    height: 250px;
    overflow-y: scroll;
}

.manageNotesDialog .cards {
    display: flex;
    width: 260px;
    font-size: 0.7em;
}

.manageNotesDialog .cards .card {
    color: #ffffff;
    flex: 1;
    text-align: center;
    margin-right: 8px;
}

.manageNotesDialog .cards .card.new {
    background-color: var(--card-new-color);
}

.manageNotesDialog .cards .card.active {
    background-color: var(--card-due-color);
}

.manageNotesDialog .cards .card.inactive {
    background-color: var(--card-graduated-color);
}

.deckTimeline .timelineGraph {
    user-select: none;
    width: 100vw;
    overflow-x: auto;
}

.deckTimeline .timelineGraph canvas {
    background-color: #0000000c;
}
