body {
    margin: 0;
}

.hidden {
    display: none;
}

.cardPresenter {
    display: grid;
    grid-template-areas: "card" "inputs";
    grid-template-rows: auto 32px;
    height: 100vh;
}

.cardPresenter iframe.card {
    grid-area: card;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.cardPresenter .quickUserInputGetter {
    grid-area: inputs;
    text-align: center;
    background-color: #e4e4e4;
    padding-top: 1px;
}

.cardCounts > div {
    display: inline-block;
    margin-right: 16px;
}

.cardCounts .number {
    display: inline;
}

.cardCounts .new {
    color: #143be7;
}

.cardCounts .due {
    color: #441eec;
}

.cardCounts .graduated {
    color: #a11cee;
}

.quickUserInputGetter button {
    margin-left: 4px;
    margin-right: 4px;
    width: auto;
    height: 24px;
}

.modalDialog,
.modalDialog .modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalDialog {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease;
}

.modalDialog.showing {
    opacity: 1;
}

.modalDialog.positionFixed {
    position: fixed;
}

.modalDialog .modalBackground {
    z-index: 0;
    background-color: transparent;
}

.modalDialog.showing .modalBackground {
    backdrop-filter: blur(1.1px);
    background-color: #0000007c;
    transition: background-color 0.15s ease;
}

.modalDialog .modalForeground {
    position: relative;
    z-index: 1;

    background-color: #ffffff;

    display: block;
    width: auto;
    height: auto;
    max-width: 380px;
    max-height: 80vh;
    padding: 8px;

    overflow-x: hidden;
    overflow-y: auto;
}

.createNoteDialog .cardFieldLabel {
    display: block;
    font-size: 0.8em;
    margin-bottom: 8px;
}

.createNoteDialog .cardFieldInput {
    display: block;
}

.deckTimeline .timelineCanvasContainer {
    width: 100vw;
    overflow-x: auto;
}

.deckTimeline .timelineCanvasContainer canvas {
    background-color: #0000000c;
}
