body {
    margin: 0;
    background-color: black;
    color: white;
}

.row {
    scroll-snap-align: start;
    display: block;
    height: 100vh;
    width: 100%;
    margin-bottom: 16px;
    direction: rtl;
    text-align: center;
}

.row:empty::after {
    content: "This page is blank";
    display: block;
    font-style: italic;
    opacity: 0.7;
    margin-top: 30%;
}

.page {
    display: inline-block;
    max-width: 50%;
    max-height: 100vh;
    width: auto;
    height: auto;
    min-width: 24px;
    min-height: 24px;
}

.chapter.portrait .page, .row.singlePage .page {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 16px;
}